<!DOCTYPE html>
<html lang="en">

<body>
<section  th:fragment="panelCliente">
    <a href="/spring/perfil" class="perfil-widget" style="text-decoration: none;">
        <img th:if="${usuario.fotoPerfil != null}" th:src="${usuario.fotoPerfil}" alt="perfil" class="avatar">
        <img th:unless="${usuario.fotoPerfil != null}" th:src="'https://res.cloudinary.com/dqrka5zry/image/upload/v1780525781/default-user_lk0vzd.jpg'" alt="perfil" class="avatar">
        <p class="welcome-text">Hola, <span th:text="${usuario.nombre}"></span></p>
    </a>
    <div>
        <br>
        <a th:href="@{/vistaHijos}">Mis Hijos</a>
        <br>
        <a th:href="@{/mis-pedidos}">Mis Pedidos</a>
    </div>
</section>

</body>
</html>