<!DOCTYPE html>
<html lang="en">

<body>
<section  th:fragment="panelCliente">
    <a href="/spring/perfil" class="perfil-widget" style="text-decoration: none;">
        <img th:if="${usuario.fotoPerfil != null}" th:src="${usuario.fotoPerfil}" alt="perfil" class="avatar">
        <img th:unless="${usuario.fotoPerfil != null}" th:src="@{/imagenes/imagenesDefault/default-user.jpg}" alt="perfil" class="avatar">
        <p class="welcome-text">Hola, <span th:text="${usuario.nombre}"></span></p>
    </a>
    <div>
        <a disabled="true">Mis pedidos</a><br>
        <a href="/spring/vistaHijos">Mis Hijos</a>

    </div>
</section>

</body>
</html>