<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>KioNet - Tu Kiosco Virtual</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />

</head>

<body>
<div class="container-fluid">

    <div th:replace="fragmentos/header :: header"></div>

    <main class="main">
        <section class="panel-cliente">
            <div th:replace="fragmentos/panelIzqCliente :: panelCliente"></div>
            <a href="/spring/perfil" class="btn-volver"> Mi perfil</a>

        </section>

        <section class="panel-tienda">
            <div class="welcome-banner">
                <h1>Bienvenidos a KioNet UNLAM</h1>
                <h2>Hacé tu pedido hoy, tu hijo retira mañana</h2>
            </div>
            <div>
                <h3>¿Para quien es el pedido?</h3>
                <!--ACA poner un check box x cada hijo del usuario que permita selecionar varios  y uno que diga todos mis hijos que seleccione a todos-->
            </div>

            <nav class="categories-nav">
                <a class="category-chip"
                   th:href="@{/home}"
                   th:classappend="${param.categoria == null} ? 'active' : ''">Todos</a>

                <th:block th:each="categoriaProd : ${categorias}">
                    <a class="category-chip"
                       th:href="@{/home(categoria=${categoriaProd.nombreCategoria})}"
                       th:text="${categoriaProd.nombreCategoria}"
                       th:classappend="${param.categoria != null && param.categoria[0] == categoriaProd.nombreCategoria} ? 'active' : ''"></a>
                </th:block>
            </nav>
            <section class="products-section" th:if="${productosBuscados != null || errorBusquedaProductos != null}">
                <h2 class="subtitulos">Resultados de la búsqueda:</h2>
                <p th:if="${errorBusquedaProductos}" th:text="${errorBusquedaProductos}"></p>


                <div class="products-grid" th:unless="${#lists.isEmpty(productosBuscados)}">
                    <div class="product-card" th:each="producto : ${productosBuscados}">
                        <div class="product-image-wrapper">
                            <img th:if="${producto.imagen != null}" th:src="${producto.imagen}" alt="golo">
                            <img th:unless="${producto.imagen != null}" th:src="'https://res.cloudinary.com/dqrka5zry/image/upload/v1780525780/caramelo_qzcvfy.png'" alt="golo">
                        </div>

                        <div class="product-info">
                            <h4 th:text="${producto.nombre}"></h4>
                            <p class="product-desc" th:text="${producto.descripcion}"></p>
                            <span class="product-price">$ <th:block th:text="${producto.precio}"></th:block></span>
                        </div>
                        <form action="carrito/agregar" method="post" class="add-to-cart-form">
                            <input type="hidden" name="productoId" th:value="${producto.id}">
                            <button type="submit" class="btn-add-product">+ Agregar al carrito</button>
                        </form>
                    </div>
                </div>
                <hr class="section-divider">
            </section>

            <section class="products-section">
                <h2 class="subtitulos" th:text="${param.categoria != null} ? ${param.categoria} : 'Todos los productos'"></h2>

                <p th:if="${errorCargaProductos}" th:text="${errorCargaProductos}"></p>

                <div class="products-grid">

                    <div class="product-card" th:each="producto : ${productos}">
                        <div class="product-image-wrapper">
                            <img th:if="${producto.imagen != null}" th:src="${producto.imagen}" alt="golo">
                            <img th:unless="${producto.imagen != null}" th:src="@{/imagenes/imagenesDefault/caramelo.png}" alt="golo">
                        </div>

                        <div class="product-info">
                            <h4 th:text="${producto.nombre}"></h4>
                            <p class="product-desc" th:text="${producto.descripcion}"></p>
                            <span class="product-price">$ <th:block th:text="${producto.precio}"></th:block></span>
                        </div>

                        <form action="carrito/agregar" method="post" class="add-to-cart-form">
                            <input type="hidden" name="productoId" th:value="${producto.id}">
                            <button type="submit" class="btn-add-product">+ Agregar al carrito</button>
                        </form>
                    </div>
                </div>
            </section>

        </section><!--FIN PANEL TIENDA-->
    </main>

</div>
</body>
        <!-- Boostrap core js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous">
        </script>
</html>

