<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>

  <!-- Boostrap core css -->
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">-->

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <link rel="stylesheet" th:href="@{/css/home.css}"/>

</head>

<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="#">KioNet UNLAM</a>
            <div class="carrito">
                <img th:src="@{/imagenes/carrito.jpg}" alt="carrito">
                <p>Mi Carrito</p>
                <p>$00000</p>
            </div>
            <div class="perfil">
<!--                <img th:src="@{/imagenes/default-user.jpg}" alt="foto">-->
                <img
                        th:if="${usuario.fotoPerfil != null}"
                        th:src="${usuario.fotoPerfil}"
                        alt="perfil">

                <img
                        th:unless="${usuario.fotoPerfil != null}"
                        th:src="@{/imagenes/default-user.jpg}"
                        alt="perfil">
                <p> Hola
                   <span th:text="${usuario.nombre}"></span>
                </p>

            </div>
            <div>
                <form th:action="@{/home}" method="GET" class="d-flex">
                    <!-- El atributo 'name' es vital: define cómo se llamará el parámetro en la URL (?busqueda=...) -->
                    <input type="search" name="busqueda" class="form-control" placeholder="Buscar productos..."
                           th:value="${param.busqueda}"> <!-- Mantiene lo que escribiste visible después de recargar -->
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>

            <a href="login.html" class="btn btn-lg btn-primary btn-block">Volver</a>
        </nav>

    </header>

    <main role="main" class="container">
        <div class="container">
          <h1>Bienvenidos al kiosco de Taller Web 1</h1>
        </div>

        <nav class="navbar" >
            <!-- Opción fija para ver todos los productos -->
            <a class="navbar-brand" th:href="@{/home}">Todos</a>

            <div class="navbar-nav" th:each="categoriaProd : ${categorias}">
                <!-- th:text va a pintar el nombre de la categoría -->
                <!-- th:href creará el enlace dinámico pasando el id, por ejemplo: /home?categoriaId=1 -->
                <a class="nav-item nav-link"
                   th:href="@{/home(categoria=${categoriaProd.nombreCategoria})}"
                   th:text="${categoriaProd.nombreCategoria}"></a>
            </div>


        </nav>
        <section class="busquedaResultado" th:if="${productosBuscados != null}">
            <h2 class="subtitulos">Resultados de la búsqueda:</h2>
            <div class="productos" th:unless="${#lists.isEmpty(productosBuscados)}">
                <div class="tarjeta-img" th:each="producto : ${productosBuscados}">
                    <img
                            th:if="${producto.imagen != null}"
                            th:src="${producto.imagen}"
                            alt="golo">

                    <img
                            th:unless="${producto.imagen != null}"
                            th:src="@{/imagenesDefault/caramelo.png}"
                            alt="golo">

                    <div class="tarteta-texto">
                        <p th:text="${producto.nombre}"></p>
                        <p th:text="${producto.descripcion}"></p>
                        <p>$ <span th:text="${producto.precio}"></span></p>
                    </div>
                </div>
            </div>
            <hr>
        </section>

        <section class="listado_productos">
            <section class="productos">
                <h2 class="subtitulos" th:text="${param.categoria != null} ? ${param.categoria} : 'Todos los productos'"></h2>
                <div class="tarjeta-img" th:each="producto : ${productos}">
                    <img
                            th:if="${producto.imagen != null}"
                            th:src="${producto.imagen}"
                            alt="golo">

                    <img
                            th:unless="${producto.imagen != null}"
                            th:src="@{/imagenesDefault/caramelo.png}"
                            alt="golo">
                    <div class="tarteta-texto">
                        <p th:text="${producto.nombre}"></p>
                        <p th:text="${producto.descripcion}"></p>
                        <p>$ <span th:text="${producto.precio}"></span></p>
                    </div>
                </div>

            </section>

        </section>
    </main>
  <!-- /.container -->

  <!-- Boostrap core js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

</body>

</html>